<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <style>
    th{
      text-align: center;
    }
    td{
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="/css/userlist.css" />
</head>

<body>
  <!-- Navbar -->
  <%- include('./partials/navbar.ejs') %>
  <!-- End of navbar -->

  <div class="jumbotron jumbotron-fluid d-flex align-items-center profile" id="newslettercontent">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-8 text-left">
          <h1>USER LIST</h1>
          <h6>Logged In : <%= loggedIn[0].username %> (<%= loggedIn[0].userRole.role %>)</h6>
          <table class="table table-dark table-bordered">
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Role</th>
              <th scope="col">Promote</th>
              <th scope="col">Demote</th>
              <th scope="col">Delete User</th>
            </tr>
            
            <% for(let i=0; i<users.length; i++) { %>
            <tr>
              <td><%= users[i].username %></td>
              <td><%= users[i].userRole.role %></td>

              <% if( users[i].roleRank > loggedIn[0].roleRank ) { %>
                <td><form action="/admin/promote?_method=PATCH" method="POST">
                  <input type="hidden" id="userId" name="userId" value="<%= users[i].userId %>">
                  <button class="btn btn-sm btn-success" type="submit">Promote</button>
                </form></td>
              <% } else { %>
                <td></td>
              <% } %>

              <% if( users[i].roleRank > loggedIn[0].roleRank && users[i].username !== loggedIn[0].username && users[i].username !== 'superadmin' ) { %>
                <td><form action="/admin/demote?_method=PATCH" method="POST">
                  <input type="hidden" id="userId" name="userId" value="<%= users[i].userId %>">
                  <button class="btn btn-sm btn-danger" type="submit">Demote</button>
                </form></td>
              <% } else { %>
                <td></td>
              <% } %>

              <% if(users[i].roleRank > loggedIn[0].roleRank) { %>
                <td>
                  <button type="button" class="btn btn-sm btn-danger deleteUser" id="deleteUser<%= [i] %>" data-toggle="modal"
                  data-target="#deleteConfirmation<%= [i] %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="deleteConfirmation<%= [i] %>" tabindex="-1" role="dialog"
                    aria-labelledby="deleteUserModal<%= [i] %>" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteUserModal<%= [i] %>"><strong>Are you sure to delete <%= users[i].username %> data?</strong></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          All <%= users[i].username %> data including their game histories will also be deleted. There is no turning back after you confirm the deletion.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                          <form action="/admin/deleteUser?_method=DELETE" method="POST" class="d-inline-block">
                            <input type="hidden" id="userId" name="userId" value="<%= users[i].userId %>">
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Modal -->

                </form></td>
              <% } else { %>
                <td></td>
              <% } %>

          

            </tr>
            <% } %>
          </table>

        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <%- include('./partials/navigation.ejs') %>
  <!-- Navigation -->
  <!-- Footer -->
  <%- include('./partials/footer.ejs') %>
  <!-- End of Footer -->
  </div>

  <%- include('./partials/bootstrapScripts.ejs') %>
</body>

</html>